*{
	box-sizing: border-box;
}

/* https://stackoverflow.com/q/44645465 */
body,html {
	margin:0;
	padding:0;
}

.container {
	width: 100vw;
	height:100vh;
	margin:0;
	padding:0;
	gap: 0;
	display: grid;
	align-items: stretch;
	justify-items: stretch;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr 9fr 3fr 3em;
	grid-auto-flow: column;
	grid-template-areas:
	"main-header  right-head"
	"main-content right-pane"
	"main-content right-foot"
	"main-footer right-foot";
}

.main-header {
	grid-area: main-header;

}

.main-content {
	grid-area: main-content;
}

.main-footer {
	/* TODO: flex でもいいのかも */
	grid-area: main-footer;
	display: grid;
	align-items: stretch;
	justify-content:start;
	justify-items: start;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas:
	"mf-l mf-c mf-r";
}

.mf-l {
	grid-area: mf-l;
}
.mf-c {
	grid-area: mf-c;
}
.mf-r {
	grid-area: mf-r;
}

.right-head {
	grid-area: right-head;
}

.right-pane {
	grid-area: right-pane;
}

.right-foot {
	grid-area: right-foot;
}

.date-selecter-container {
	margin:0.5em;
}

.control-buttons {
	width: 100%;
	height:100%;
	padding: 3px;
	display: grid;
	align-items: stretch;
	justify-items: stretch;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 4em 1fr 1fr;
	grid-auto-flow: row;
	grid-template-areas:
	"cb-t cb-t cb-t"
	"cb-left cb-centre cb-right"
	"cb-bl cb-bc cb-br";
}

.rightfoot-top {
	grid-area: cb-t;
}

.normal-button {
	border-radius: 7px;
	padding:10px;
}

.save-button-container {
	grid-area: cb-right;
	justify-self: center;
	align-self: center;
}

#debug-button-a-container {
	grid-area: cb-bl;
	justify-self: center;
	align-self: center;
}
#debug-button-b-container {
	grid-area: cb-bc;
	justify-self: center;
	align-self: center;
}
#debug-button-c-container {
	grid-area: cb-br;
	justify-self: center;
	align-self: center;
}

#exec-button-container {
	grid-area: cb-centre;
	justify-self: center;
	align-self: center;
}
.error-msg {
	color: OliveDrab;
	font-weight: bold;
}
